{% extends "base.html" %}

{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/questions.css' %}"/>
    <script src="{% static 'js/question/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Questions</h2>
        {% for question in questions %}
            <div class="question">
                <div class="col-md-10">
                    <h3 class="question-title">{{ question.title }}</h3>
                    <input type="hidden" id="{{ question.id }}" value="{{ question.body }}" class="question-body-input">
                    <div class="question-body"></div>
                </div>
                <div class="col-md-2">
                    {% if question.solved %}
                        <a href="/question/{{ question.id }}" class="btn question-button">View Question</a>
                        <div class="question-status">Finished!</div>
                    {% else %}
                        <a href="/question/{{ question.id }}"  class="btn btn-primary question-button">Start Question</a>
                        <div class="question-status"><b>Not completed</b></div>
                    {% endif %}
                    <div class="question-attempts">Attempts: {{ question.num_submissions }}</div>

                    {% if question.num_submissions > 0 %}
                        <div class="question-attempts">Penalty: <b>{{ question.penalty }}</b> min</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}